.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: calc(100vh - var(--app-shell-header-height, 0));
  overflow: hidden;
}

.sidebar {
  flex: 1;
  width: 350px;
  height: 100%;
  background: var(--oly-warm-white);
}

.scrollArea {
  height: 100%;
}

.content {
  width: calc(100% - 350px);
  height: 100%;
  overflow: auto;
  border-inline-start: 1px solid var(--oly-stone);
}
