.grid {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .right {
    grid-template-columns: 1fr;
  }
}
